#template {
	width: 160px;
	border-top: 1px solid RGB(148, 148, 148);
	padding-bottom: 8px;
	padding-left: 7px;
	padding-top: 3px;
	margin-bottom: 4px;
}

.disabled {
	-webkit-filter:opacity(50%);
}

#main {
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

ul li {
	list-style: none;
	/*height: 20px;*/
	margin-bottom: 7px;
}














